@model U02Pa181G0250.Models.Villancico
@{ Layout = "Layout"; }

<nav>
    <a href="javascript:window.history.back();">Regresar</a>
</nav>
<h2> @Model.Nombre </h2>
<h3>@Model.Compositor, @Model.Anyo</h3>

<iframe width="560" height="315" src="@Model.VideoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<article>
    <p>
        @Model.Información
    </p>
    <p>
        @Html.Raw(Model.Letra.Replace("\n", "<br />"))
    </p>
    
</article>